interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      200581 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/35d8513c-1e06-412f-8867-88f7c515a04f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/35d8513c-1e06-412f-8867-88f7c515a04f
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-02-25T17:09:47Z",
        "lastUpdatedDateTime": "2021-02-25T17:09:51Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -0.1923, "width": 795, "height":
        501, "unit": "pixel", "lines": [{"text": "MASSACHUSETTS", "boundingBox": [26,
        18, 399, 20, 398, 69, 26, 68], "words": [{"text": "MASSACHUSETTS", "boundingBox":
        [26, 19, 398, 29, 399, 62, 26, 69], "confidence": 0.936}], "appearance": {"style":
        {"name": "print", "confidence": 0.995}}}, {"text": "DRIVER''S", "boundingBox":
        [495, 33, 627, 32, 627, 59, 495, 60], "words": [{"text": "DRIVER''S", "boundingBox":
        [496, 34, 627, 33, 625, 60, 497, 60], "confidence": 0.951}], "appearance":
        {"style": {"name": "print", "confidence": 1}}}, {"text": "KASSACHUSE", "boundingBox":
        [327, 65, 399, 63, 400, 78, 328, 81], "words": [{"text": "KASSACHUSE", "boundingBox":
        [328, 69, 399, 65, 399, 78, 329, 82], "confidence": 0.743[...]
