interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "innerError": {"requestId":
        "ea343259-da5c-47dc-8493-f89bcc6017ec"}, "message": "Failed to download image
        from input URL."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://krpratic-python-formrecognizer-canary.cognitiveservices.azure.com//formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
version: 1
