interactions:
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "BadArgument", "innerError": {"requestId": "5168bbc5-da1c-4f4c-8e46-9d649f138256"},
        "message": "Bad or unrecognizable request JSON or binary file."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://krpratic-python-formrecognizer-canary.cognitiveservices.azure.com//formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
version: 1
