interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/946ceab5-e0f6-4600-ac5b-6e77ba479838
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/946ceab5-e0f6-4600-ac5b-6e77ba479838
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-02-25T17:02:55Z",
        "lastUpdatedDateTime": "2021-02-25T17:02:59Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -0.4021, "width": 506, "height":
        319, "unit": "pixel"}], "documentResults": [{"docType": "prebuilt:idDocument:driverLicense",
        "docTypeConfidence": 0.995, "pageRange": [1, 1], "fields": {"DocumentNumber":
        {"type": "string", "valueString": "99 999 999", "text": "99 999 999", "boundingBox":
        [216.8, 74.3, 314, 72.9, 314.2, 90, 217, 91.4], "page": 1, "confidence": 0.99},
        "LastName": {"type": "string", "valueString": "SAMPLE", "text": "SAMPLE",
        "boundingBox": [178, 135, 242, 134, 241, 147, 179, 147], "page": 1, "confidence":
        0.973}, "FirstName": {"type": "string", "valueString": "JANICE ANN", "text":
        "JANICE ANN", "boundingBox": [179, 147, 269, 147, 269, 161, 179, 161], "page":
        1, "confidence": 0.973}, "DateOfBirth": {"type": "date", "valueDate": "1975-08-04",
        "text": "08/04/1975", "boundingBox": [216, 93, 313, 92, 313, 109, 216, 108],
        "page": 1, "confidence": 0.99}, "DateOfExpiration": {"type": "date", "valueDate":
        "2023-08-05", "text": "08/05/2023", "boundingBox": [217, 113, 312, 112, 312,
        129, 217, 129], "page": 1, "confidence": 0.99}, "Sex": {"type": "string",
        "valueString": "F", "text": "F", "boundingBox": [211, 199, 222, 199, 222,
        211, 211, 211], "page": 1, "confidence": 0.992}, "Address": {"type": "string",
        "valueString": "123 MAIN STREET APT. 1 HARRISBURG, PA 17101-0000", "text":
        "123 MAIN STREET APT. 1 HARRISBURG, PA 17101-0000", "boundingBox": [178, 161,
        359, 161, 359, 195, 178, 195], "page": 1, "confidence": 0.934}, "Country":
        {"type": "string", "valueString": "United States", "confidence": 0.995}, "Region":
        {"type": "string", "valueString": "Pennsylvania", "confidence": 0.991}}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
