interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/7f1bb237-afb5-4be1-8a67-905465091828
    status:
      code: 202
      message: Accepted
    url: https://krpratic-python-formrecognizer-canary.cognitiveservices.azure.com//formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=true
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/7f1bb237-afb5-4be1-8a67-905465091828
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-02-25T17:03:53Z",
        "lastUpdatedDateTime": "2021-02-25T17:03:56Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -0.4021, "width": 506, "height":
        319, "unit": "pixel", "lines": [{"text": "Pennsylvania", "boundingBox": [23,
        20, 222, 23, 222, 69, 23, 67], "words": [{"text": "Pennsylvania", "boundingBox":
        [37, 20, 220, 26, 221, 64, 35, 65], "confidence": 0.903}], "appearance": {"style":
        {"name": "print", "confidence": 0.761}}}, {"text": "DRIVER''S LICENSE", "boundingBox":
        [256, 16, 454, 16, 454, 33, 256, 34], "words": [{"text": "DRIVER''S", "boundingBox":
        [257, 17, 357, 16, 357, 34, 257, 35], "confidence": 0.983}, {"text": "LICENSE",
        "boundingBox": [360, 16, 454, 16, 454, 34, 360, 34], "confidence": 0.983}],
        "appearance": {"style": {"name": "print", "confidence": 1}}}, {"text": "USA",
        "boundingBox": [202, 59, 227, 58, 227, 69, 202, 70], "words": [{"text": "USA",
        "boundingBox": [202, 59, 226, 58, 227, 69, 203, 70], "confidence": 0.986}],
        "appearance": {"style": {"name": "print", "confidence": 0.999}}}, {"text":
        "4d DLN: 99 999 999", "boundingBox": [166, 75, 313, 73, 314, 90, 167, 92],
        "words": [{"text": "4d", "boundingBox": [168, 78, 180, 77, 181, 91, 168, 91],
        "confidence": 0.951}, {"text": "DLN:", "boundingBox": [183, 77, 214, 75, 215,
        91, 184, 91], "confidence": 0.974}, {"text": "99", "boundingBox": [217, 75,
        239, 74, 240, 91, 217, 91], "confidence": 0.988}, {"text": "999", "boundingBox":
        [243, 74, 277, 74, 277, 90, 243, 91], "confidence": 0.987}, {"text": "999",
        "boundingBox": [280, 74, 314, 74, 314, 90, 280, 90], "confidence": 0.987}],
        "appearance": {"style": {"name": "print", "confidence": 1}}}, {"text": "3
        DOB: 08/04/1975", "boundingBox": [170, 92, 312, 91, 313, 108, 170, 109], "words":
        [{"text": "3", "boundingBox": [170, 95, 179, 95, 179, 109, 170, 109], "confidence":
        0.987}, {"text": "DOB:", "boundingBox": [182, 95, 213, 93, 214, 108, 182,
        109], "confidence": 0.959}, {"text": "08/04/1975", "boundingBox": [216, 93,
        313, 92, 313, 109, 216, 108], "confidence": 0.983}], "appearance": {"style":
        {"name": "print", "confidence": 0.998}}}, {"text": "DUPS: 00", "boundin[...]
