interactions:
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "innerError": {"requestId":
        "d2a08f9a-26ec-401a-9df4-d60b4aa8d08a"}, "message": "Failed to download image
        from input URL."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
