interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      200581 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/0517902d-dba3-4b1a-8fc3-8546a8bf1c8f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/0517902d-dba3-4b1a-8fc3-8546a8bf1c8f
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-02-25T17:09:41Z",
        "lastUpdatedDateTime": "2021-02-25T17:09:45Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -0.1923, "width": 795, "height":
        501, "unit": "pixel"}], "documentResults": [{"docType": "prebuilt:idDocument:driverLicense",
        "docTypeConfidence": 0.995, "pageRange": [1, 1], "fields": {"DocumentNumber":
        {"type": "string", "valueString": "S99988801", "text": "S99988801", "boundingBox":
        [613, 154, 765, 153, 765, 183, 613, 183], "page": 1, "confidence": 0.99},
        "LastName": {"type": "string", "valueString": "SAMPLE", "text": "SAMPLE",
        "boundingBox": [341, 271, 465, 272, 464, 303, 341, 303], "page": 1, "confidence":
        0.983}, "FirstName": {"type": "string", "valueString": "CONNOR", "text": "CONNOR",
        "boundingBox": [339, 308, 428, 306, 427, 325, 339, 326], "page": 1, "confidence":
        0.974}, "DateOfBirth": {"type": "date", "valueDate": "1959-01-12", "text":
        "01/12/1959", "boundingBox": [611, 198, 761, 198, 761, 227, 611, 228], "page":
        1, "confidence": 0.99}, "DateOfExpiration": {"type": "date", "valueDate":
        "2021-01-12", "text": "01/12/2021", "boundingBox": [444, 198, 569, 197, 568,
        222, 445, 222], "page": 1, "confidence": 0.99}, "Sex": {"type": "string",
        "valueString": "M", "text": "M", "boundingBox": [398, 436, 417, 435, 417,
        455, 398, 455], "page": 1, "confidence": 0.99}, "Address": {"type": "string",
        "valueString": "123 NORTH MAIN STREET APT. 1 NORTH QUINCY, MA 02171-1748",
        "text": "123 NORTH MAIN STREET APT. 1 NORTH QUINCY, MA 02171-1748", "boundingBox":
        [339, 334, 638, 334, 638, 404, 339, 404], "page": 1, "confidence": 0.944},
        "Country": {"type": "string", "valueString": "United States", "confidence":
        0.995}, "Region": {"type": "string", "valueString": "Massachusetts", "confidence":
        0.99}}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
